<% if comment.user_id %>
	<%= comment.body %>
	<p>Posted at: <%= comment.created_at %>
	<%= h(User.find(comment.user_id).login) %></p>
	<% if comment.owner?(current_user.id) %>
		<%= link_to 'Delete', listing_comment_path(@listing,comment), :method => :delete, :confirm => 'Are you sure?' %>
	<% end %>
	<hr />
<% end %>

