<h3>All Listings<h3>

<% @listings.each do |listing| %>
	<% if listing.user_id != current_user.id %>
		<%= render :partial => 'listing', :object => listing %>
		<%= link_to 'Apply to Listing', applications_url(:listing_id => h(listing.id)), :method => :post%></p>
	<% end %>
<% end %>
<%= will_paginate @listings %>
