    <h2>Edit Listing</h2>  
      
    <% form_for @listing do |listing_form| %>  
     <p>     
       <label for="title" class="textInput">Title:</label>  
       <%= listing_form.text_field :title %>  
     </p>  
     <p>  
       <label for="body" class="textInput">Body:</label><br />  
       <%= listing_form.text_area :body %>  
     </p>  
   <%= submit_tag 'Update'%>  
   <% end %> 