<h3>Listing all Your Applications</h3>

<% @applications.each do |application| %>
	<p>
	<%= link_to h(Listing.find(application.listing_id).title), listing_path(application.listing_id)%>
	<%= link_to 'Unapply', application_url(application), :method => :delete %>
	</p>
<% end %>