.comment_text_box {
    height: 100px;
    color: #7c7c7c;
    margin-left: 50px;
	border: 2px solid #999;
	padding: 4px;
	background-color: #f3f3f3;	
	font-weight: bold;
	
}
#link_header{
    padding: 0px;
    width: 1000px;
}
#header_content{
    font-size: 14px;
    color: white;
    text-align: center;
}
#header_content a:visited{
    padding: 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}   
#header_content a:hover{
    color: #d6d8d9;
    font-size: 16px;
    font-weight: bold;   
}


#app_content{
    padding: 15px 15px 35px 15px;
    min-height: 600px;
}
#container_app {
    background-color: #eff2f3;
    width: 700px;
    padding: 0px 0px 0px 100px;
    position: relative; top: 0px;
    margin: 0px;
}
#container_app hr {
    width: 650px;
}
#right_side{
    background: url(/images/rounded-grey/rightside.gif) right top repeat-y;    
}
#left_side{
    background: #FFF url(/images/rounded-grey/leftside.gif) repeat-y left top;
}

.b_l{
    background: url(/images/rounded-grey/bottom.gif) left bottom no-repeat;   
    
}

.b_r{
    background: url(/images/rounded-grey/bottom-right.gif) right bottom no-repeat;
    
}

.t_l{
    background: url(/images/rounded-grey/top.gif) left top no-repeat;
    position: relative;
    
}

.t_r{
    background: url(/images/rounded-grey/top-right.gif) right top no-repeat; padding:10px;
}

.clear {font-size: 1px; height: 1px;}

.b_l_header{
    background: url(/images/rounded-blue/bottom.gif) left bottom no-repeat;   
    height: 35px;
    
}

.b_r_header{
    background: url(/images/rounded-blue/bottom-right.gif) right bottom no-repeat;
    height: 35px;
}

.t_l_header{
    background: url(/images/rounded-blue/top.gif) left top no-repeat;
    position: relative;
    
}

.t_r_header{
    background: url(/images/rounded-blue/top-right.gif) right top no-repeat; padding:10px;
}

#right_side_header{
    background: url(/images/rounded-blue/rightside.gif) right top repeat-y;    
}
#left_side_header{
    background: #2c72ba url(/images/rounded-blue/leftside.gif) repeat-y left top;
}
#indent {
    padding: 0px 0px 0px 20px;
}

.search_label {
    font-size: 16px;
    font-weight: bold;
}

.search_box {
   	border: 2px solid #4cb5ff;
	color: #7c7c7c;
	line-height: 1em;
	background-color: #eff2f3;	
	font-weight: bold;
	width: 200px;
}

.submit_button {
    background-color: #2c72ba;
    color: white;
    background-image: url(/images/button_back.png);
	margin-left: 50px;
    
}

.notice {
    color: green;
}